body{background: #222 url(img/bg.png); color: #ddd; margin: 0; padding: 0; font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
#wrapper{background: transparent; max-width: 600px; text-align: center; margin: 40px auto; padding: 0px 10px 0px 10px;}

#header{background: rgba(0, 0, 0, 0.3); color: #fff; padding: 10px 20px 10px 15px;}
#header h1{margin: 0px; font-size: 17px;}
#header a{text-decoration: none; color: #fff;}
#header a:hover{}
#header a:visited{}

#slogan{background: transparent; color: #9a9a9a; text-align: center; font-size: 18px; margin-bottom: 40px;}
#slogan h2{margin: 0px; padding: 0px;}

#editor{}
.text{background: rgba(0,0,0,0.3); width: 100%; min-height: 150px; height: 40%; margin: 0px; padding: 15px; border: 0px; color: #ddd; font-size: 18px; font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; border-radius: 5px 5px 0px 0px; resize: none; outline: none;}
.button{background: rgba(0,0,0,0.6); width: 100%; margin: 0px; padding: 10px 0px 10px 0px; border: 0px; color: #ddd; font-size: 15px; font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; border-radius: 0px 0px 5px 5px; -webkit-appearance: none;}
.smileys{background: rgba(0,0,0,0.3); padding: 5px 10px 5px 10px;}
.smiley{border: 0px; width: 22px;}

#content{}
#nachricht{background: rgba(0,0,0,0.3); min-height: 300px; margin: 0px; padding: 15px; border: 0px; color: #ddd; font-size: 18px; text-align: left; font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; line-height: 30px; border-radius: 5px 5px 0px 0px;;}
.link{background: rgba(255,255,255,0.6); width: 100%; color: #333; margin: 25px 0px 15px 0px; padding: 10px; font-size: 16px; border-radius: 5px; border: 0px; font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;}

#info{background: rgba(0,0,0,0.2); margin: 20 0 8 0; padding: 10px; border-radius: 5px; color: #81ff81;}

#footer{margin: 10px 0px 20px 0px; padding: 5px 0px 0px 0px; font-size: 12px; color: rgba(255,255,255,0.5);}
#footer a{text-decoration: none; color: rgba(255,255,255,0.6);}
#footer a:hover{color: #ddd;}
#footer a:visited{}

a{text-decoration: none; color: #fff;}
a:hover{text-decoration: none; color: #fff;}
a:visited{text-decoration: none; color: #fff;}

.notification{margin: 0px; padding: 5px; text-align: center; font-size: 14px;}
.shadow{-webkit-box-shadow: 0 4px 8px -6px black; -moz-box-shadow: 0 4px 8px -6px black; box-shadow: 0 4px 8px -6px black;}
