RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)
RewriteRule ^.*$ https://%1/$1 [R=301,L]
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule ^([^/]*)/$ /?a=$1 [L]
RewriteRule ^([^_]*)/([^_]*)_([^_]*)\.html$ /index.php?a=$1&id=$2&pass=$3 [L]
RewriteRule ^([^-]*)_([^-]*)$ /redirect.php?id=$1&pass=$2 [L]

ErrorDocument 403 /404/
ErrorDocument 404 /404/
ErrorDocument 500 /500/