
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300);

* {margin: 0px; padding: 0px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}

#miscb{background: rgba(255,255,255,0.25); margin: 20px 0px -20px 0px; text-align: center;}

#miscb2{background: transparent; margin: 0px; padding: 10px 0px 5px 0px; text-align: center;}

.left{float: left;}
.right{float: right;}
.clear{clear: both;}

.container{margin: 0px auto;}
.bcontainer{width: 95%; margin: 0px auto;}
.conwinter{background: #645862 url('../img/bg/winter.png') no-repeat bottom; background-size: cover;}
.conintro{background: #645862 url('../img/bg/banner.jpg') no-repeat center center fixed; background-size: cover;}
.spacee{margin-top: 0px; padding: 20px 0px 20px 0px;}
.round{border-radius: 2px;}
.shadow{-webkit-box-shadow: 0px 4px 21px -1px rgba(0,0,0,0.15); -moz-box-shadow: 0px 4px 21px -1px rgba(0,0,0,0.15); box-shadow: 0px 4px 21px -1px rgba(0,0,0,0.15);}

.italic{font-style: italic;}

h2,h3,h4, .notification, section.nachricht .button, section.what .probiersaus{font-family: "Ubuntu", sans-serif; font-weight: 300;}

.notification{background: #84d3c9; font-size: 16px; padding: 12px; color: #fff; text-align: center; font-weight: 400; position: fixed; top:0; width: 100%;}
.notification a{background: rgba(255,255,255,0.2); font-size: 15px; margin: 0px 0px 0px 5px; padding: 7px; color: #fff; border: 1px solid rgba(255,255,255,0.2);}
.notification a:hover{background: rgba(255,255,255,0.1);}

.umfrage{}

.tw1{width: 300px; margin: 0px 0px 10px 10px;}
.tw2{width: 280px; height: 450px; margin: 0px;}

code{font-family: monospace; font-size: 14px;}

.smiley{width: 26px; margin: 0px 5px 0px 5px;}
.emoticons img{margin: 0px 6px 10px 0px; cursor: pointer;}

a{text-decoration: none; color: #2790B0;}
a:hover{color: #2790B0;}
a:visited{}

body{background: #eee url('../img/bg/rauschen.jpg'); color: #333; font-size: 14px;}
header.header{background: rgba(255,255,255,0); width: 100%; !important max-width: 1300px; padding: 30px 0px 20px 0px; margin-top: 35px;}
header .logo{background-image: url('../img/logo/logo.png'); width: 184px; height: 25px; margin-top: 5px;}
header .logo h1{font-weight: bold; visibility: hidden;}
header .logo h2{visibility: hidden;}
header .socialicon{margin: 0px 0px 0px 10px; padding: 0px;}

nav{font-size: 15px; text-transform: uppercase; margin-top: 2px;}

.button{cursor:pointer;}
nav a.button{background: #97dad1; padding: 8px 13px 8px 13px; color: #fff; font-weight: 400; letter-spacing: 1px; border-bottom: 2px solid #84d3c9;}
nav a.button:hover{background: #84d3c9; border-bottom: 2px solid #97dad1;}

nav a.fb{background: #3d5b9f; padding: 8px 13px 8px 13px; border-bottom: 2px solid #1a3070;}
nav a.fb:hover{background: #1a3070; border-bottom: 2px solid #3d5b9f;}
nav a.navigation{color: #333; margin: 0px 20px 0px 0px;}

section.nachricht{padding: 10px 0px 60px 0px;}
section.nachricht form{background: rgba(255,255,255,0.4); padding: 20px; color: #fff;}
section.nachricht form textarea.nachricht{background: transparent; color: #fff; box-sizing: border-box; width: 100%; margin-bottom: 10px; padding: 10px; font-size: 16px; border: 1px solid #fff; resize: none;}
section.nachricht form *::-webkit-input-placeholder {color: #fff; opacity: 1;}
section.nachricht form *::-moz-placeholder {color: #fff; opacity: 1;} /* firefox 19+ */
section.nachricht form *:-ms-input-placeholder {color: #fff; opacity: 1;} /* ie */
section.nachricht form *:-moz-placeholder {color: #fff; opacity: 1;}
section.nachricht form .bildupload{background: transparent; color: #fff; margin-bottom: 10px; padding: 10px; font-size: 14px; border: 1px solid #fff;}
section.nachricht form input{background: transparent; color: #fff; box-sizing: border-box; width: 100%; margin-bottom: 10px; padding: 11px 10px 11px 10px; font-size: 14px; border: 1px solid #fff;}
section.nachricht .button{background: rgba(255,255,255,1); color: #645862; width: 100%; padding: 10px; font-size: 16px;  font-weight: 400; border: none;}
section.nachricht form.passphrase-form{background: transparent; margin: 20px 0px 0px 0px; padding: 0px;}

section.nachricht .output{background: rgba(255,255,255,0.4); padding: 20px; color: #fff; font-size: 16px;}
section.nachricht .noutput{border: 1px solid #fff; margin-bottom: 10px; padding: 10px;}

a.inlink{color: #fff; text-decoration: underline;}

section.nachricht .output-link{background: rgba(255,255,255,0.4); padding: 20px; color: #fff; font-size: 22px; text-align: center;}
section.nachricht .output-link input.link{background: transparent; color: #fff; margin: 15px 0px 15px 0px; padding: 10px; font-size: 16px; border: 1px solid #fff;}

h2.headline{font-weight: 300; text-align: center; text-shadow: 2px 1px #fff;}

section.features {background: rgba(255,255,255,0.8); margin: 20px 0px 40px 0px; padding: 10px 20px 10px 20px;}
section.features article{background: #fff; margin: 10px 0px 10px 0px; padding: 20px 20px 50px 20px; border: solid 1px #eee; text-align: center;}
section.features article:hover{background: rgba(209,194,206,0.1);}
section.features img{width: 80px; height: 80px; padding: 20px;}
section.features h3{font-size: 25px; color: #555; margin:5px 0px 20px 0px;}
section.features p{font-weight: 400; font-size: 16px; color: #a0a0a0; line-height: 1.4;}

section.content{margin: 20px 0px 0px 0px;}
section.content h2{font-size: 26px; color: #555; margin: 0px 0px 15px 0px;}
section.content h3{font-size: 20px; font-weight: 400; color: #555; margin: 25px 0px 5px 0px;}
section.content h3.first{margin-top: 0px;}
section.content p{font-size: 16px; color: #a0a0a0; line-height: 150%; margin-bottom: 15px;}
section.content p.last{margin-bottom: 0px;}
section.content ol{list-style-type: decimal; margin-left: 40px;}
section.content ol, li{font-size: 16px; color: #a0a0a0;}
section.content li{margin-bottom: 5px;}
section.content textarea{width: 100%; height: 150px; padding: 10px; font-size: 15px; color: #333; font-weight: 300; border: 2px solid #eee; box-sizing: border-box; resize: none;}

section.bigbox{background: #fff; margin: 0px 0px 40px 0px; padding: 20px;}
section.bigbox article{margin-bottom: 20px;}
section.bigbox h3{font-size: 20px; margin: 30px 0px 5px 0px;}
section.bigbox p{font-size: 18px; margin: 0px 0px 20px 0px;}
section.bigbox img{border: 0px; width: 100%;}
section.bigbox .postimg{width: 100%; margin: 0px 0px 20px 0px;}
section.bigbox .impr{width: 158px; height: 73px;}
section.bigbox .showad{max-width: 468px;}

section.mspace article{border-top: 1px dashed #eee;}
section.mspace article p{margin: 0px 0px 30px 20px;}
section.mspace h3{margin: 40px 0px 5px 0px;}
section.mspace p{margin: 0px 0px 30px 0px;}
section.mspace ol{padding: 10px 0px 20px 0px;}

section.howto h3{font-size: 18px; margin: 20px 0px 5px 0px;}
section.howto p{font-size: 16px; margin: 0px 0px 10px 0px;}

aside.sidebar{background: transparent; float: right;}
section.widget{margin: 0px 0px 20px 0px;}
section.widget h4{margin: 0px 0px 10px 0px; padding: 0px; font-size: 16px;}
section.widget p{margin: 0px 0px 10px 0px; padding: 0px; font-size: 14px;}
section.widget img{margin-bottom: 20px;}

section.what{background: rgba(255,255,255,1); padding: 30px;}
section.what img{float: right;}
section.what .cnt{float: left;}
section.what h3{font-size: 28px; margin-bottom: 15px; }
section.what p{font-weight: 300; font-size: 22px; color: #a0a0a0; line-height: 1.5;}
section.what .probiersaus{background: #84d3c9; font-size: 18px; font-weight: 400; margin: 20px 10px 0px 0px; padding: 10px 15px 10px 15px; color: #fff; border: 1px solid rgba(255,255,255,0.2); position: absolute;}

section.app{background: rgba(255,255,255,0.8); padding: 30px 30px 0px 30px;}
section.app:hover{background: rgba(255,255,255,1);}
section.app h3{font-size: 26px; margin-bottom: 15px; margin-top: 10px;}
section.app img{float: left;}
section.app .cnt{float: right;}
section.app p{padding: 0px 0px 20px 0px;font-size: 18px; color: #a0a0a0; font-weight: 400;}
section.app .dlapp{width: 222px; margin: 0px 5px 5px 0px;}

section.bekannt-aus{background: rgba(255,255,255,0.3); border-top: 1px solid #ddd; border-bottom: 1px solid #fff; text-align: center; padding: 30px 0px 30px 0px;}
section.bekannt-aus h3{font-family: "Ubuntu", sans-serif; display:none; font-weight: 300; font-size: 22px; padding: 0px 0px 10px 0px; text-align: left; text-shadow: 2px 1px #fff;}
section.bekannt-aus img{margin: 10px 25px 10px 25px; height: 50px; filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: url(desaturate.svg#greyscale); filter: gray; -webkit-filter: grayscale(1);}
section.bekannt-aus img:hover{filter: none; -webkit-filter: grayscale(0%); -moz-filter: grayscale(0%); -ms-filter: grayscale(0%); -o-filter: grayscale(0%); -webkit-filter: grayscale(0);}


#misca{
    margin: 10px 0px 10px 0px;
}

#misca a{
    text-decoration: none;
}


footer.footer{background: rgba(255,255,255,0.1); color: #fff; margin: 0px; padding: 20px 0px 20px 0px; text-align: center;}
footer .logo{background-image: url('../img/logo/logo-footer.png'); width: 184px; height: 25px;}
footer .copyright{font-family: "Ubuntu", sans-serif; font-weight: 400; float: left; font-size: 14px; color: rgba(255,255,255,0.8)}
footer a{font-family: "Ubuntu", sans-serif; font-weight: 400; color: rgba(255,255,255,0.8); text-transform: none;}
footer a:hover{color:#84d3c9;}
nav.footer{float: right;}
nav.footer ul{list-style: none;}
nav.footer li{background: rgba(255,255,255,0); display: inline; margin-left: 15px; padding: 10px 0px 10px 0px; font-size: 14px; border-bottom: 1px solid rgba(255,255,255,0);}


@media only screen and (min-width: 1250px){
	.container{width: 1200px;}
	section.nachricht form textarea.nachricht{height: 320px;}
	.passphrase{width: 1136px;}
	section.nachricht .noutput{min-height: 320px;}
	section.nachricht .output-link input.link, section.nachricht form.passphrase-form input {box-sizing: border-box; width: 100%;}
	.passwd{width: 1098px;}
	section.features article{width: 530px;}
	h2.headline{font-size: 36px; margin: 40px 0px 40px 0px;}
	section.bigbox img{width: 840px;}
	section.app img{width: 480px;}
	section.what img{width: 480px;}
	section.app p, section.what .cnt{width: 620px;}
	section.app .dlapp{margin: 60px 30px 0px 0px;}
	section.sidebox{width: 830px; float: left;}
	aside.sidebar{width: 300px;}
	.tw2{display: none;}
}

@media only screen and
(min-width: 810px) and
(max-width: 1249px){
	.container{width: 800px;}
	section.nachricht form textarea.nachricht{height: 280px;}
	.passphrase{width: 736px;}
	section.nachricht .noutput{min-height: 280px;}
	section.nachricht .output-link input.link, section.nachricht form.passphrase-form input {box-sizing: border-box; width: 100%;}
	section.features article{width: 330px;}
	h2.headline{font-size: 28px; margin: 30px 0px 30px 0px;}
	section.bigbox img{width: 736px;}
	section.sidebox{width: 760px; float: none;}
	aside.sidebar{width: 100%; float: none;}
	section.app img, section.what img{width: 280px;}
	section.app .cnt, section.what .cnt{width: 440px;}
	section.app .dlapp{width: 215px;}
	.tw2{display: none;}
}

@media only screen and
(min-width: 320px) and
(max-width: 809px){
	.container{width: 320px;}
	section.nachricht form textarea.nachricht{height: 230px;}
	.passphrase{width: 256px;}
	section.nachricht .noutput{min-height: 230px;}
	section.nachricht .output-link input.link, section.nachricht form.passphrase-form input {box-sizing: border-box; width: 100%;}
	section.features article{width: ;}
	h2.headline{font-size: 24px; margin: 20px 0px 20px 0px;}
	section.bigbox img{width: 256px;}
	section.sidebox{width: 280px; float: none;}
	aside.sidebar{width: 100%; float: none;}
	section.app{text-align: center; padding-bottom: 20px;}
	section.app img, section.what img{width: 100%; margin-bottom: 20px;}
	section.app p, section.what .cnt{width: 100%;}
	section.what p{margin-bottom: 20px;}
	section.app .dlapp{margin: 0px 20px 10px 20px;}
	nav a.navigation{visibility: hidden;}
	footer .logo{display: none;}
	.tw1{display: none;}
	nav.footer {float: none;}
	footer .copyright{margin-top: 20px; float: none;}
	nav.footer ul{float: none;}
	nav.footer li{background: rgba(255,255,255,0.2); margin: 0px 0px 10px 0px; display: block;}
}
